<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>CRUD-NodeJS</title>

    <style>
      
    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .post {
        padding: 10px;
        background-color: lightcoral;
    }

    .post .block-posts {       
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .post .block-posts .content-post {        
        background-color: lightblue;
        padding: 30px;
        max-height: 700px;
        overflow-y:  hidden ;
        margin: 10px;
    }

    .block-posts .content-post img {
        width: 100%;
    }

    
      
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>