<form action='/add' method='POST'>
  <label for='title'>Title</label>
  <input type='text' name='title' id='title' />
  <label for='conteudo'>Conteudo</label>
  <input type='text' name='conteudo' id='conteudo' />
  <button type='submit'>Cadastrar postagem</button>

</form>