<form action='/add' method='POST' enctype="multipart/form-data">
    <label for='title'>Title</label>
    <input type='text' name='title' id='title' />
    <label for='conteudo'>Conteudo</label>
    <textarea type='text' name='conteudo' id='conteudo'></textarea>
    <label for="url_name">Url da Imagem</label>
    <input type="text" name="url_image" id="img">
    <button type='submit'>Cadastrar postagem</button>
</form>


<br>

<a href="/"><button>Voltar</button></a>