<h1>Lista Posts:</h1>

{{#each posts}}
    <small>{{dataValues.createdAt}}</small>
    <h1>{{dataValues.titulo}}</h1>
    <p>{{dataValues.conteudo}}</p>
    
    <button  value="{{dataValues.id}}">Deletar</button>    
  
    <hr>

{{/each}}


<script> 



    $(document).ready(() => {
        $('button[value]').on('click', event => {
            $.ajax({
                url: `/deletar?id=${event.target.value}`,
                type: 'DELETE',
                success: (data) => {
                    console.log(data);
                }
            })
        })
    })
</script>
